@page "/people/add"
@rendermode InteractiveServer
@using Ires.Frontend.Components.Pages.People.Models
@inject IresDbContext DbContext
@inject NavigationManager NavManager

<h3>Add person</h3>

<EditForm Model="model" OnValidSubmit="@HandleValidSubmit" FormName="person_entry_form">
    <DataAnnotationsValidator />

    <FluentStack Orientation="Orientation.Vertical">

        <div>
            <FluentTextField Name="givenname" @bind-Value="model!.GivenName" Label="GivenName" />
            <FluentValidationMessage For="@(() => model.GivenName)" />
        </div>

        <div>
            <FluentTextField Name="familyname" @bind-Value="model!.FamilyName" Label="Family name" />
            <FluentValidationMessage For="@(() => model.FamilyName)" />
        </div>

        <div>
            <FluentTextField Name="nickname" @bind-Value="model!.Nickname" Label="Nickname" />
            <FluentValidationMessage For="@(() => model.Nickname)" />
        </div>

        <div>
            <FluentSelectEnum
                Label="Gender"
                Placeholder="Select one..."
                TEnum="CreatePersonModelGender"
                @bind-EnumSelectedValue="@model!.Gender" />
        </div>

        <div>
            <FluentDatePicker Label="Date of Birth" @bind-Value="@model.DateOfBirth" />
            <FluentValidationMessage For="@(() => model.DateOfBirth)" />
        </div>

        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
    </FluentStack>
</EditForm>

@code {
    [SupplyParameterFromForm(FormName = "person_entry_form")]
    private CreatePersonModel? model { get; set; }

    private EditContext? context { get; set; }

    protected override void OnInitialized()
    {
        model = new CreatePersonModel();
        context = new EditContext(model);
    }

    private async Task HandleValidSubmit()
    {
        Console.WriteLine("Submitted");


        var person = new Person()
        {
            GivenName = model.GivenName,
            FamilyName = model.FamilyName,
            Nickname = model.Nickname,
            DateOfBirth = model.DateOfBirth is null ? DateOnly.MinValue : DateOnly.FromDateTime(model.DateOfBirth.Value),
            Gender = GetGender(model.Gender),
        };

        DbContext.People.Add(person);
        await DbContext.SaveChangesAsync();

        NavManager.NavigateTo("/people");
    }

    private Gender GetGender(CreatePersonModelGender? gender) => gender switch
    {
        CreatePersonModelGender.Male => Gender.Male,
        CreatePersonModelGender.Female => Gender.Female,
        CreatePersonModelGender.NonBinary => Gender.NonBinary,
        CreatePersonModelGender.Other => Gender.NotSpecified,
        _ => Gender.NotSpecified
    };
}
