@page "/people"
@rendermode InteractiveServer
@inject IresDbContext Context

<h3>People</h3>

<FluentDataGrid Items="@filteredPeople" Pagination="@pagination" AutoFit="true">
    <PropertyColumn Property="@(p => p.Id)" />
    <PropertyColumn Property="@(p => p.GivenName)" Sortable="true" IsDefaultSortColumn="true" Title="First name" />
    <PropertyColumn Property="@(p => p.FamilyName)" Title="Last name" />
    <PropertyColumn Property="@(p => p.Gender)" />
    <PropertyColumn Property="@(p => p.DateOfBirth)" Title="Date of Birth" Format="yyyy-MM-dd" />
</FluentDataGrid>

<FluentPaginator State="@pagination" />

<NavLink href="/people/add" target="_blank">Add person</NavLink>

@code {
    private IresDbContext context = default!;

    private PaginationState pagination = new PaginationState() { ItemsPerPage = 2 };
    private RenderFragment template = @<span />;

    private IQueryable<Person> filteredPeople => Context.People;
}
